html {
  font-family: sans-serif;
}

a {
  color: #377ba8;
  text-decoration: none;
}

input[type=submit] {
  font-size: xxx-large;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 50%;
  width: 4.25em;
  height: 4.25em;
  margin: 0.25em 0 0 0;
}

input[type=url] {
  font-size: medium;
  min-width: 420px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.1);
  color: rgb(0, 0, 0, 0.5);
  border-width: 1px;
  border-radius: 1em;
  padding: 0.5em 0.75em;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

.topbar {
  display: grid;
}

.signinout {
  font-size: smaller;
  justify-self: end;
  align-self: center;
  margin: 0.5em;
}

.flash-messages {
  z-index: 0;
  justify-self: start;
  align-self: center;
  margin: 0.5em;
  padding: 0 0 1em 0;
}

.flash-message {
  z-index: 1;
  list-style-type: none;
  margin: 0.25em 0;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
}

.error {
  background: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.275);
}

.warning {
  background: rgba(255, 255, 0, 0.2);
  border-color: rgba(255, 255, 0, 0.275);
}

.notification {
  background: rgba(0, 0, 255, 0.2);
  border-color: rgba(0, 0, 255, 0.275);
}

.center {
  display: grid;
  place-items: center;
}

.bottombar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background: #111;
  text-align: center;
  font-size: smaller;
  color: #777;
}

.appinfo {
  grid-column-start: 2;
  grid-column-end: 3;
}

.contact {
  align-self: center;
  justify-self: end;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 1em;
}
