html {
  font-family: sans-serif;
}

a {
  color: #377ba8;
  text-decoration: none;
  font-size: smaller;
}

input[type=submit] {
  font-size: xxx-large;
}

input[type=url] {
  font-size: medium;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

.topbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #111;
}

.flash-messages {
  z-index: 9999;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
  align-self: center;
  background: #777;
  margin: 0.5em;
}

.signinout {
  justify-self: end;
  align-self: center;
  background: #777;
  margin: 0.5em;
}

.center {
  display: grid;
  place-items: center;
  background: #ccc;
}

.bottombar {
  display: grid;
  place-items: center;
  background: #111;
}

.appinfo {
  background: #777;
}
