html {
  font-family: sans-serif;
}

a {
  color: #377ba8;
  text-decoration: none;
  font-size: smaller;
}

.flash {
  font-size: smaller;
  padding: 0.5em 0.75em;
  background: #cae6f6;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;  
}

input[type=submit] {
  font-size: xxx-large;
}

input[type=url] {
  font-size: medium;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

.topbar {
  display: grid;
  place-items: center end;
  background: #111;
}

.signinout {
  background: #777;
  margin: 0.5em;
}

.center {
  display: grid;
  place-items: center;
  background: #ccc;
}

.bottombar {
  display: grid;
  place-items: center;
  background: #111;
}

.appinfo {
  background: #777;
}
