<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="wrapper">
  <div class="topbar">
    <div class="signinout">
      {% if 'credentials' not in session %}
      <a href="{{ url_for('signin') }}">Sign in</a>
      {% else %}
      <a href="{{ url_for('signout') }}">Sign out</a>
      {% endif %}
    </div>
  </div>

  <div class="center">
    {% block content %}{% endblock %}
  </div>

  <div class="bottombar">
    <div class="appinfo">
      footer
    </div>
  </div>
</div>
