{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class="flashes">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<table>
  <tr>
    URL received: {{url.url}}
  </tr>
  <tr>
    <td>local_filename</td>
    <td>{{local_filename}}</td>
  </tr>
  <tr>
    <td>remote_basename</td>
    <td>{{remote_basename}}</td>
  </tr>
  <tr>
    <td>error</td>
    <td>{{error}}</td>
  </tr>
</table>

{% if 'credentials' not in session %}
    <a href="{{ url_for('signin') }}">Sign in</a>
{% else %}
    <a href="{{ url_for('signout') }}">Sign out</a>
{% endif %}

<form method="post">
  <label for="url">Link</label>
  <input type="url" name="url">
  <input type="submit" value="DriveIt!">
</form>
