{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flash-messages">
    {% for category, message in messages %}
    <li class="flash-message {{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <form method="post">
    <label for="url">Link</label>
    <div class="center">
      <input type="url" name="url">
    </div>

    <div class="center">
      <input type="submit" value="Driveet">
    </div>
  </form>
</div>
{% endblock %}
